<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Default Free SMS</h3>
  </div>
  <%= form_tag admin_sms_setting_index_path, :method=> :post,:remote=>true,:id=>'default_sms_form', :class => "form-horizontal box-body" do %>
      <div class="form-group">
        <%= label_tag :Default_SMS ,nil,:class => "col-sm-3 control-label"%>
        <div class="col-sm-9">
          <%= text_field_tag :sms_no,default_sms.sms_no ,:required => true, :class =>"form-control" , :placeholder => "Default Sms"%>
        </div>
      </div>
      <%= hidden_field_tag :id, default_sms.id %>
      <div class="box-footer">
        <%= submit_tag "Save", class: "btn btn-info pull-right" %>
      </div>
  <% end %>
</div>

<script>

  $(document).ready(function(){

      $('#default_sms_form').bind('ajax:success', function(xhr,response,status) {
          debugger;
          if(response.flag == true && status == 'success'){
              toast.success_message(response.message)
          }
          else{
              toast.error_message(response.message)
          }
      });

  });

</script>