<!doctype html>
<html>
<head>
  <meta charset='utf-8'>
  <title><%= t('.Invoice') %></title>
  <style>
      .hv-bg {
          text-transform: uppercase;
          font-size: 12.8px;
          color: #000;
          font-weight: 400;
          margin: 0;
          margin-left: -30px;
          padding: 10px 27.5px 05px 16.5px;
          background: url(date-bg.png) no-repeat;
          background-position: 1px 0px;
          float: left;
      }
      thead {
          display: table-header-group
      }
      tfoot {
          display: table-row-group
      }
      tr {
          page-break-inside: avoid
      }
  </style>
</head>

<body style='margin:0;'>
<div style='margin:auto; width:800px; font-family:Gotham, Helvetica Neue, Helvetica, Arial, sans-serif; '>
  <div style='background:#edf2f6; overflow:auto;'>
    <div style='width:70%; float:left; padding:24px 30px; box-sizing:border-box;'>
      <% if @show_invoice_logo %>
          <%= wicked_pdf_image_tag @logo_url, :alt => 'logo.png', :width => '137' %>
      <% end %>
    </div>
    <% if @company.try(:invoice_setting).try(:hide_business_details) == false %>
        <% business = Business.find(@result[:business][:business_id]) rescue nil %>
        <% unless business.nil? %>
            <div style='width:30%; float:left; padding:19px 0; box-sizing:border-box;'>
              <h2 style='margin-top:0; font-size:17.25px; color:#b93e5b; text-transform:uppercase; margin-bottom:5px;'><%= @result[:business][:business_name] %></h2>

              <h3 style='font-size:15.05px; color:#000; margin:0; line-height:22.58px; font-weight:300;'><%= business.try(:full_address) %> </h3>
              <% if @company.try(:invoice_setting).try(:show_business_info)== true %>
                  <h3 style='font-size:15.05px; color:#000; margin:0; line-height:22.58px; font-weight:300;'><%= business.try(:contact_info) %> </h3>
              <% end %>
            </div>
        <% end %>
    <% end %>

  </div>

  <div style='overflow:auto;'>
    <div style='width:70%; float:left; padding:24px 30px; box-sizing:border-box;'>
      <h4 style='font-size:10.66px; margin-bottom:5px; text-transform:uppercase;'>Client</h4>

      <div style='margin-bottom:0px;'>
        <h2 style='font-size:14px; margin-top:7px; color:#7b7b7b; font-weight:400; margin-bottom:5px;'><%= @result[:patient] %></h2>
        <!--<h2 style='font-size:14px; margin-top:7px; color:#7b7b7b; font-weight:400; margin-bottom:5px;'>D.O.B: <%#= @result[:patient_dob] %></h2>-->
        <h2 style='font-size:14px; margin-top:7px; color:#7b7b7b; font-weight:400; margin-bottom:5px;'><%= t('.DOB') %>
          : <%= @result[:patient_dob] %></h2>

        <h2 style='font-size:14px; margin-top:7px; color:#7b7b7b; font-weight:400; margin-bottom:5px;'><%= @result[:patient_address] %></h2>

        <h2 style='font-size:14px; margin-top:7px; color:#7b7b7b; font-weight:400; margin-bottom:5px;'><%= @result[:patient_extra_info] %></h2>
      </div>
    </div>
    <div style='width:30%; float:left; padding:19px 0; box-sizing:border-box;'>
      <!--<h4 style='font-size:10.66px; margin-bottom:0px; text-transform:uppercase;'>Invoice to</h4>-->
      <h4 style='font-size:10.66px; margin-bottom:0px; text-transform:uppercase;'><%= t('.Invoice to') %></h4>

      <div style='margin-bottom:0px;'>
        <h2 style='font-size:14px; margin-top:7px; color:#7b7b7b; font-weight:400; margin-bottom:5px;'><%= @result[:invoice_to] %></h2>
      </div>
    </div>
  </div>

  <div style='padding:0 30px; box-sizing:border-box; margin-top:20px;'>
    <h1 style='margin:0; color:#b93e5b; text-transform:uppercase; border-top:solid 1px #ddd; border-bottom:solid 1px #ddd; font-size:19.19px; font-weight:400; padding: 0 25px; line-height: 44px; margin:0 -30px;'>
      <%= t('.Invoice') %> # <%= @result[:id] %></h1>
    <ul style='list-style:none; padding:0; overflow:auto; margin-bottom:0px;'>
      <li style='float:left; font-size:16px; color:#7b7b7b; margin-right:20px; width:140px'><%= wicked_pdf_image_tag 'cal.png' %> <%= @result[:issue_date] %></li>
      <li style='float:left; font-size:16px; color:#7b7b7b; margin-right:20px;width:75%;'> <%= @result[:practitioner] %>
        <% unless @result[:designation].blank? %>
            (<%= @result[:designation] %>)
        <% end %>
      </li>

    </ul>

    <h5 class='hv-bg'><%= t('.Appointment') %> Date: <%= @result[:appt_date] %></h5>
    <table style='width:800px; margin:0 -30px' cellpadding='0'>
      <thead>
      <tr>
        <th style="font-size:12.8px; text-transform:uppercase; text-align:left; font-weight:700; padding:12.5px 30px; background:#c0dbf0;"><%= t('.Code') %></th>
        <th style="font-size:12.8px; text-transform:uppercase; text-align:left; font-weight:700; padding:12.5px 5px; background:#c0dbf0;"><%= t('.Item') %></th>
        <th style="font-size:12.8px; text-transform:uppercase; text-align:left; font-weight:700; padding:12.5px 5px; background:#c0dbf0;"><%= t('.Type') %></th>
        <th style="font-size:12.8px; text-transform:uppercase; text-align:left; font-weight:700; padding:12.5px 5px; background:#c0dbf0;"><%= t('.Unit') %> <%= t('.Price') %></th>
        <th style="font-size:12.8px; text-transform:uppercase; text-align:left; font-weight:700; padding:12.5px 5px; background:#c0dbf0;"><%= t('.Qty') %></th>
        <th style="font-size:12.8px; text-transform:uppercase; text-align:left; font-weight:700; padding:12.5px 5px; background:#c0dbf0;"><%= t('.Tax') %></th>
        <th style="font-size:12.8px; text-transform:uppercase; text-align:left; font-weight:700; padding:12.5px 5px; background:#c0dbf0;"><%= t('.Discount') %></th>
        <th style="font-size:12.8px; text-transform:uppercase; text-align:left; font-weight:700; padding:12.5px 5px; background:#c0dbf0;"><%= t('.Price') %>
          Total
        </th>
      </tr>
      </thead>
      <tbody>
      <% @result[:invoice_items].each do |invoice_item| %>
          <tr>
            <td style="font-size:12.8px; font-weight:400; padding:12.5px 30px;"><%= invoice_item[:item_code] %></td>
            <td style="font-size:12.8px; font-weight:400; padding:12.5px 5px; width:110px;"><%= invoice_item[:name] %></td>
            <td style="font-size:12.8px; font-weight:400; padding:12.5px 5px;"><%= invoice_item[:type] %></td>
            <td style="font-size:12.8px; font-weight:400; padding:12.5px 5px;"><%= invoice_item[:unit_price] %></td>
            <td style="font-size:12.8px; font-weight:400; padding:12.5px 5px;"><%= invoice_item[:quantity] %></td>
            <td style="font-size:12.8px; font-weight:400; padding:12.5px 5px;"><%= invoice_item[:tax] %></td>
            <td style="font-size:12.8px; font-weight:400; padding:12.5px 5px;"><%= invoice_item[:discount] %><%= invoice_item[:discount_type_percentage] %></td>
            <td style="font-size:12.8px; font-weight:400; padding:12.5px 5px;"><%= invoice_item[:total_price] %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <div style=" border-top:solid 1px #ccc; border-bottom:solid 1px #ccc; overflow:auto; margin:0 -30px; padding:15px 0;">
      <div style="width:250px; float:right;">
        <h4 style="margin:5px 0;">
          <label style="width:150px; text-align:right; display:inline-block; margin-right:10px; font-size:12.8px; color:#000;"><%= t('.Discount') %>
            :</label><span style="font-weight:700; font-size:12.8px;"><%= @result[:total_discount] %></span>
        </h4>
        <h4 style="margin:5px 0;">
          <label style="width:150px; text-align:right; display:inline-block; margin-right:10px; font-size:12.8px; color:#000;">Tax:</label><span style="font-weight:700; font-size:12.8px;"><%= @result[:tax] %></span>
        </h4>
        <h4 style="margin:5px 0;">
          <label style="width:150px; text-align:right; display:inline-block; margin-right:10px; font-size:12.8px; color:#000;"><%= t('.Invoice') %> <%= t('.Amount') %>
            :</label><span style="font-weight:700; font-size:12.8px;"><%= @result[:invoice_amount] %> </span></h4>
        <h4 style="margin:5px 0;">
          <label style="width:150px; text-align:right; display:inline-block; margin-right:10px; font-size:12.8px; color:#000;"><%= t('.Outstanding') %> <%= t('.Balance') %>
            :</label><span style="font-weight:700; font-size:12.8px;"><%= @result[:outstanding_balance] %></span>
        </h4>
      </div>
    </div>
    <div style='padding:0; box-sizing:border-box; margin-top:20px;'>
      <h4 style='font-size:10.66px; margin-bottom:05px; text-transform:uppercase;'><%= t('.payment') %> <%= t('.methods') %> </h4>

      <div style='margin-bottom:05px;'>
        <% @result[:payment_method].each do |payment| %>
            <h3 style='font-size:12.8px; color:#7b7b7b; font-weight:400; margin-top:0; margin-bottom:0px;'><%= payment[:payment_date] %></h3>

            <h3 style='font-size:12.8px; color:#7b7b7b; font-weight:400; margin-top:0; margin-bottom:0px;'>
              <% payment[:payment_datail][:payment_modes].each do |payment_mode| %>
                  <%= payment_mode[:name] %> $<%= payment_mode[:amount] %> |
              <% end %>
              Total $<%= payment[:payment_datail][:alloted_amount] %> <%= t('.allocated') %>
            </h3>
            <br/>
        <% end %>
      </div>
      <h4 style=" font-size:10.66px; margin-bottom:0px; text-transform:uppercase;"><%= t('.Notes') %></h4>

      <p style="line-height:14px; font-size:12px; color:#7b7b7b; text-align:justify;"><%= @result[:notes] %></p>
      <center>
        <% unless @result[:offer_text].nil? %>
            <%= @result[:offer_text].html_safe %>
        <% end %>
      </center>
    </div>
    <div style='width:36%; float:right; text-align:left; margin: 20px 0 20px 2px;'>
      <% if @result[:practitioner_signature].include? 'http' %>
          <div>
            <%= wicked_pdf_image_tag @result[:practitioner_signature], :style => 'padding-top:65px;' %>
          </div>
      <% end %>
      <div style='float:right; font-size:14px; color:#7b7b7b;width:100%;'> <%= @result[:practitioner] %>
        <% unless @result[:designation].blank? %>
            <label>,</label>
            <%= @result[:designation] %>.
        <% end %>
      </div>
      <div style='float:right; font-size:14px; color:#7b7b7b;width:100%;'>
        <% if @result[:practitioner_contact].blank? %>
            <lable></lable>
            <% else %>
        <%# if @result[:practitioner_contact].present? %>
            <label><%= @result[:practitioner_contact].first[:ref_type] %>
              - <%= @result[:practitioner_contact].first[:number] %></label>
        <% end %>
      </div>
    </div>

    <div style='background:#edf2f6; padding:10px 10px; overflow:auto; margin:20px -20px 0;'>
      <div>
        <label style='font-size:14px; font-weight:400;float:left'><%= t('.Professional_Number_Type') %>:
        <% if @result[:practitioner_contact].blank? %>
              <label style='display: inline-block'> N/A </label>
              <% else %>
              <label style='display: inline-block'><%= @result[:practitioner_contact].first[:ref_type] %>
                - <%= @result[:practitioner_contact].first[:number] %></label>
        <% end %>
        </label>
      </div>

      <div style='width:34%; float:right; text-align:right;'>
        <label style='font-size:14px; font-weight:400; float:right; margin: 0 2px 0;'><%= @result[:business][:web_url] %></label>
        <%= wicked_pdf_image_tag 'globe.png', :style => 'float:right; margin-right:12px;' %>
      </div>
    </div>
    <div style='background:#fff; padding:10.5px 20px; overflow:auto; margin:0px -30px 0;'>
      <% if @company.try(:invoice_setting).try(:include_next_appointment)== true %>
          <% unless @result[:next_appointment_name].blank? %>
              <h3 style='font-size:15.05px; color:#000;  line-height:22.58px; font-weight:300; margin: 0 0 0 80px;'><%= t('.Your') %>
                <%= t('.next') %><%= t('.Appointment') %> <%= t('.is') %> <%= @result[:next_appointment_name] %> <%= t('.with') %> <%= @result[:practitioner] %></h3>
          <% end %>
      <% end %>
    </div>

  </div>
</div>
</body>
</html>