<style>
h2{
	font-size: 16px;
	border-bottom: solid 1px #ccc;
	padding-bottom: 5px;
}
.table{
	width: 100%;
}
.table thead tr th{
	text-align: left;
	padding: 0 10px;
	font-size: 12px;
}
.table tbody tr td{
	text-align: left;
	padding: 0 10px;
	font-size: 12px;
}
thead { display: table-header-group }
tfoot { display: table-row-group }
tr { page-break-inside: avoid }
</style>
<h2><%= t('.Practitioner') %> <%= t('.Report') %></h2>
<table class='table' cellspacing="0"  border="1">
	<thead>
		<tr>
			<th><%= t('.Practitioner') %></th>
			<th><%= t('.Appointments') %></th>
			<th><%= t('.All') %> <%= t('.Invoices') %> ($)</th>
			<th><%= t('.Paid') %> <%= t('.Invoices') %> ($)</th>
			<th><%= t('.Outstanding') %>  <%= t('.Invoices') %> ($)</th>
			<th>Total <%= t('.Revenue') %> ($)</th>
		</tr>
	</thead>
	<tbody>
		<% @result.each do |doctor| %>
			<tr>
				<td><%= doctor[:dc_full_name]%> </td>
				<td><%= doctor[:appnt_no]%></td>
                <td><%= '% .2f'% doctor[:rised_invoices].round(2).to_f %></td>
                <td><%= '% .2f'% doctor[:closed_invoices].round(2).to_f %></td>
                <td><%= '% .2f'% doctor[:opened_invoices].round(2).to_f %></td>
                <td><%= '% .2f'% doctor[:revenue].round(2).to_f %></td>
            </tr>
		<% end %>
	</tbody>
</table>	