<html>
<head>
  <title>Opustime</title>
</head>
<body style="margin:0;">
<div style="width:600px; margin:auto; border: solid 1px #ccc; padding: 20px; box-sizing: border-box; border-radius: 10px; margin-top: 10px; background:#f5f8f9">
  <%= image_tag attachments['logo.jpg'].url, :style => "width:220px;" %>
  <% if @user.acc_active %>
      <h3 style="margin-bottom:10px; text-transform:uppercase;"><%= t('.Account Activation') %></h3>
<% else %>
      <h3 style="margin-bottom:10px; text-transform:uppercase;"><%= t('.Account Deactivation') %></h3>
<% end %>
  <% if @user.acc_active %>
      <p><%= t('.Welcome') %> <%= t('.to') %> Opustime, <%= t('.Hello') %> <%= @user.full_name %>!, <%= t('.your account have been activated by Super Admin') %>.<%= t('.Now you can login your account') %>.</p>
  <% else %>
      <p><%= t('.Welcome') %> <%= t('.to') %> Opustime, <%= t('.Hello') %> <%= @user.full_name %>!, <%= t('.your account have been deactivated by Super Admin') %>.<%= t('.Please contact to Super Admin to active your account') %>.</p>
  <% end %>
</div>
</body>
</html>