<html>
  <head>
    <script>
      function number_pages() {
        var vars={};
        var x=document.location.search.substring(1).split('&');
        for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = decodeURIComponent(z[1]);}
        var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
        for(var i in x) {
          var y = document.getElementsByClassName(x[i]);
          for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
        }
      }
    </script>
  </head>
  <body onload="number_pages()">
  	<div style=" background:#edf2f6; padding:14.5px 30px; overflow:auto; margin:30px -30px 0;">
		<div style="width:80%; float:left;">
	    	<label style=" font-size:17.25px; font-weight:400; color:#aaadac;"> <%= location %> |  <%= t('.Created') %> <%= Time.now.strftime("%d %b %Y, %H:%M%p") %></label>
	    </div>
	    <div style="float: left; width: 20%; text-align: right; color:#aaadac;">
	    	<%= t('.page') %> <span class="page"></span> <%= t('.of') %> <span class="topage"></span>
		 </div>
	</div>
  </body>
</html>


