<html>
<head>
  <title>Opustime</title>
</head>
<body style="margin:0;">
<div style="width:600px; margin:auto; border: solid 1px #ccc; padding: 20px; box-sizing: border-box; border-radius: 10px; margin-top: 10px; background:#f5f8f9">
  <%= image_tag attachments['logo.jpg'].url, :style => "width:220px;" %>
  <% if @subscription_type.to_s.eql?('trial') %>
      <h3 style="margin-bottom:10px; text-transform:uppercase;"><%= t('.Trial subscription reminder') %></h3>
  <% else %>
      <h3 style="margin-bottom:10px; text-transform:uppercase;"><%= t('.Auto Renew Subscription Reminder') %></h3>
  <% end %>

  <% if @subscription_type.to_s.eql?('trial') %>
      <p><%= t('.Welcome') %> <%= t('.to') %> Opustime, <%= t('.we are notifying you that you have') %> <%= @no_of_days %> <%= 'day'.pluralize(@no_of_days.to_i).to_s %> r<%= t('.remaining to expire your') %> <%= @subscription_type %>
        <%= t('.subscription plan') %>. <%= t('.Please buy a new plan to continue Opustime services') %>.</p>
  <% else %>
      <p><%= t('.Welcome') %> <%= t('.to') %> Opustime, <%= t('.we are notifying you that you have') %> <%= @no_of_days %> <%= 'day'.pluralize(@no_of_days.to_i).to_s %> <%= t('.remaining to') %> <%= t('.auto renew your') %><%= @subscription.name %>
        <%= t('.subscription plan') %>.</p>
  <% end %>

</div>
</body>
</html>