<html>
<head>
  <title>Opustime</title>
</head>
<body style="margin:0;">
<div style="width:600px; margin:auto; border: solid 1px #ccc; padding: 20px; box-sizing: border-box; border-radius: 10px; margin-top: 10px; background:#f5f8f9">
  <%= image_tag attachments['logo.jpg'].url, :style => "width:220px;" %>
  <h3 style="margin-bottom:10px; text-transform:uppercase;"><%= t('.Subscription') %> <%= t('.Expired') %></h3>
  <p>
    <%= t('.Hello') %> <%= @company.first_name %>,

    <%= t('.The time has come to enter your payment details in OpusTime in order to continue using it') %>.
    <%= t('.You can log into Opustime and go to') %> <%= t('.settings') %> >> Opustime <%= t('.subscription') %> <%= t('.and enter your payment details there') %>. <%= t('.You will need to do this soon to avoid interruption of service') %>.
    <%= t('.If you don’t wish to continue using') %> OpusTime, <%= t('.you can cancel your account on that same page') %>. <%= t('.We will cancel it for you in a few more days if you prefer not dealing with it') %>.
    <%= t('.Thank you so much for giving') %> Opustime <%= t('.a try') %>, <%= t('.we hope to see you again soon') %>
    Opustime <%= t('.Team') %>
  </p>
</div>
</body>
</html>