<html>
<head>
  <title>Opustime</title>
</head>
<body style="margin:0;">
<div style="width:600px; margin:auto; border: solid 1px #ccc; padding: 20px; box-sizing: border-box; border-radius: 10px; margin-top: 10px; background:#f5f8f9">
  <%= image_tag attachments['logo.jpg'].url, :style => "width:220px;" %>
  <h3 style="margin-bottom:10px; text-transform:uppercase;"><%= t('.Low to High Rate Plan Switch') %></h3>
  <% if @subscription.payment_info[:wallet_credit].to_i > 0 %>
      <p><%= t('.Welcome') %> <%= t('.to') %> Opustime, <%= t('.you have switched your plan from cost') %> $<%= @subscription.payment_info[:last_plan] %> <%= t('.to') %>
        $<%= @subscription.cost %> <%= t('.and we are charging you just') %> $<%= @subscription.payment_info[:payable_amount] %> <%= t('.and credit to your wallet') %>
        $<%= @subscription.payment_info[:wallet_credit] %>.<%= t('.Now') %> <%= t('.enjoy full access of Opustime features and your next billing cycle') %>  <%= t('.is') %><%= @subscription.next_billing_cycle.strftime('%A, %d %b %Y') %>.
      </p>
  <% else %>
      <p><%= t('.Welcome') %> <%= t('.to') %> Opustime, <%= t('.you have switched your plan from cost') %> $<%= @subscription.payment_info[:last_plan] %> <%= t('.to') %>
        $<%= @subscription.cost %> <%= t('.and we are charging you just') %>
        $<%= @subscription.payment_info[:payable_amount] %>. <%= t('.Now') %> <%= t('.enjoy full access of Opustime features and your next billing cycle') %> <%= t('.is') %> <%= @subscription.next_billing_cycle.strftime('%A, %d %b %Y') %>.
      </p>
  <% end %>

</div>
</body>
</html>