<html>
<head>
  <title>Opustime</title>
</head>
<body style="margin:0;">
<h3 style="margin-bottom:10px; text-transform:uppercase;"><%= t('.Low to High Rate Plan Switch') %></h3>
<p> <%= t('.Hello') %> <%= @subscription.company.first_name.capitalize %>, </p>
<div style="width:600px; margin:auto; border: solid 1px #ccc; padding: 20px; box-sizing: border-box; border-radius: 10px; margin-top: 10px; background:#f5f8f9">
  <%= image_tag attachments['logo.jpg'].url, :style => "width:220px;" %>

  <p><%= t('.This is to inform you that you have switched from low to high rate plan of OpusTime subscription') %>.</p>
  <p><%= t('.Now you will get the services of') %> $<%= @subscription.cost %> <%= t('.plan') %>.</p>
  <p><%= t('.Enjoy full access to OpusTime features for a month') %>.</p>

  <p><%= t('.Happy Client Management') %></p>

</div>

<p><%= t('.Thank You') %></p>
<p><%= t('.The Opustime Team') %></p>
</body>
</html>
