<html>
<head>
  <title>Opustime</title>
</head>
<body style="margin:0;">
<h3 style="margin-bottom:10px; text-transform:uppercase;"><%= t('.New Subscription Purchased') %></h3>
<p> <%= t('.Hello') %> <%= @subscription.company.first_name.capitalize %>, </p>
<div style="width:600px; margin:auto; border: solid 1px #ccc; padding: 20px; box-sizing: border-box; border-radius: 10px; margin-top: 10px; background:#f5f8f9">
  <%= image_tag attachments['logo.jpg'].url, :style => "width:220px;" %>

  <p><%= t('.Welcome to OpusTime') %>.<%= t('.Cheers') %> </p>

  <p><%= t('.You have been subscribed to OpusTime Quintet Plan and we are charging you just') %>
    $<%= @subscription.cost %>. <%= t('.Now you can enjoy full access to OpusTime features') %>.
  <%= t('.Under this plan you can have') %> <%= @subscription.doctors_no %> <%= t('.professionals at work in your practice') %>.</p>
</div>
<p><%= t('.Thank You') %></p>
<p><%= t('.The Opustime Team') %></p>
</body>
</html>
