<html>
<head>
  <title>Opustime</title>
</head>
<body style="margin:0;">
<div style="width:600px; margin:auto; border: solid 1px #ccc; padding: 20px; box-sizing: border-box; border-radius: 10px; margin-top: 10px; background:#f5f8f9">
  <%= image_tag attachments['logo.jpg'].url, :style => "width:220px;" %>
  <h3 style="margin-bottom:10px; text-transform:uppercase;"><%= t('.Credit Card Payment') %></h3>

  <p><%= t('.Welcome') %> <%= t('.to') %> Opustime, <%= t('.we') %> <%= t('.have') %> <%= t('.debited') %> $<%= @amount %> <%= t('.from') %> <%= t('.your') %> <%= t('.credit card') %>.</p>
</div>
</body>
</html>