<style>
h2{
	font-size: 16px;
	border-bottom: solid 1px #ccc;
	padding-bottom: 5px;
}
.table{
	width: 100%;
}
.table thead tr th{
	text-align: left;
	padding: 0 10px;
	font-size: 12px;
}
.table tbody tr td{
	text-align: left;
	padding: 0 10px;
	font-size: 12px;
}
thead { display: table-header-group }
tfoot { display: table-row-group }
tr { page-break-inside: avoid }
</style>
<h2><%= t('.Revenue') %> <%= t('.Report') %></h2>
<table class="table" cellspacing="0" border="1">
	<thead>
		<tr>
			<th>Date</th>
			<th><%= t('.Practitioner') %></th>
			<th><%= t('.Payment Type') %></th>
			<th><%= t('.Product') %></th>
			<th><%= t('.Services') %></th>
			<th><%= t('.Business') %></th>
			<th><%= t('.Total Payment') %></th>
		</tr>
	</thead>
	<tbody>
		<% @result.each do |payment| %>
			<tr>
				<td><%= payment[:date] %> </td>
				<td><%= payment[:doctors_name] %></td>
				<td><%= payment[:payment_types] %></td>
				<td><%= payment[:used_products] %></td>
				<td><%= payment[:used_service] %></td>
				<td><%= payment[:location] %></td>
				<td><%= '% .2f'% payment[:total_payment].round(2).to_f %></td>
			</tr>
		<% end %>
		
	</tbody>
</table>	