<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= t('.Untitled Document') %></title>
  <style>
      thead { display: table-header-group }
      tfoot { display: table-row-group }
      tr { page-break-inside: avoid }
  </style>
</head>

<body style="margin:0;">
<div style="margin:auto; width:800px; font-family:Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif; ">
  <div style="background:#edf2f6; overflow:auto;">
    <div style="width:70%; float:left; padding:24px 30px; box-sizing:border-box;">
      <%= wicked_pdf_image_tag @logo_url, :alt => "logo.png", :width => "137" %>
    </div>
    <div style="width:30%; float:left; padding:19px 0; box-sizing:border-box;">
      <h2 style="margin-top:0; font-size:17.25px; color:#b93e5b; text-transform:uppercase; margin-bottom:5px;"><%= @result[:business_name] %></h2>

      <h3 style="font-size:15.05px; color:#000; margin:0; line-height:22.58px; font-weight:300;"><%= @result[:business_address] %></h3>
    </div>
  </div>
  <div style=" padding:0 30px; box-sizing:border-box; margin-top:10px;">
    <h1 style="margin:0; color:#3e474f; text-transform:uppercase; border-bottom:solid 1px #ddd; font-size:19.19px; font-weight:400; padding: 0 25px 10px; line-height: 44px; margin:0 -30px;">
      <%= t('.Receipt') %> #<%= @result[:id] %> </h1>
    <ul style="list-style:none; padding:0; overflow:auto; margin:25px 0;">
      <li style="font-size:16px; color:#2d3439; margin-bottom:5px;">Date :
        <span style="color:#7b7b7b"><%= @result[:payment_date] %></span></li>
      <li style="font-size:16px; color:#2d3439; margin-bottom:5px;">Patient :
        <span style="color:#7b7b7b"><%= @result[:patient] %></span></li>
      <li style="font-size:16px; color:#2d3439;"><%= t('.Amount') %> :
        <span style="color:#7b7b7b"><%= @result[:payment_history][:total_amount] %></span></li>
    </ul>
    <table style="width:800px; margin:0 -30px;" cellpadding="0" >
      <thead>
      <tr>
        <th style="font-size:12.8px; text-transform:uppercase; text-align:left; font-weight:700; padding:12.5px 2px 12.5px 30px; background:#c0dbf0;"><%= t('.invoice') %></th>
        <th style="font-size:12.8px; text-transform:uppercase; text-align:left; font-weight:700; padding:12.5px 5px; background:#c0dbf0;"><%= t('.Item') %></th>
        <th style="font-size:12.8px; text-transform:uppercase; text-align:left; font-weight:700; padding:12.5px 5px; background:#c0dbf0;">Date</th>
        <th style="font-size:12.8px; text-transform:uppercase; text-align:left; font-weight:700; padding:12.5px 5px; background:#c0dbf0;"><%= t('.Practitioner') %></th>
        <th style="font-size:12.8px; text-transform:uppercase; text-align:left; font-weight:700; padding:12.5px 5px; background:#c0dbf0;"><%= t('.payment type') %></th>
        <th style="font-size:12.8px; text-transform:uppercase; text-align:left; font-weight:700; padding:12.5px 5px; background:#c0dbf0;"><%= t('.Tax') %></th>
        <th style="font-size:12.8px; text-transform:uppercase; text-align:left; font-weight:700; padding:12.5px 5px; background:#c0dbf0;">Total</th>
        <th style="font-size:12.8px; text-transform:uppercase; text-align:left; font-weight:700; padding:12.5px 5px; background:#c0dbf0;"><%= t('.payment') %></th>
      </tr>
      </thead>
      <tbody>
      <% @result[:invoices_history].each do |pay_inv| %>
          <tr>
            <td style="font-size:12.8px; font-weight:400; padding:12.5px 30px;"><%= pay_inv[:invoice_id] %></td>
            <td style="font-size:12.8px; font-weight:400; padding:12.5px 5px; width:150px;"><%= pay_inv[:invoice_items] %></td>
            <td style="font-size:12.8px; font-weight:400; padding:12.5px 5px;"><%= pay_inv[:invoice_date] %></td>
            <td style="font-size:12.8px; font-weight:400; padding:12.5px 5px;"><%= pay_inv[:practitioner] %></td>
            <td style="font-size:12.8px; font-weight:400; padding:12.5px 5px;"><%= pay_inv[:payment_types].join(",") %></td>
            <td style="font-size:12.8px; font-weight:400; padding:12.5px 5px;"><%= pay_inv[:invoice_tax] %></td>
            <td style="font-size:12.8px; font-weight:400; padding:12.5px 5px;"><%= pay_inv[:invoice_total] %></td>
            <td style="font-size:12.8px; font-weight:400; padding:12.5px 5px;"><%= pay_inv[:payment_applied_to_invoice] %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <div style=" border-top:solid 1px #ccc; border-bottom:solid 1px #ccc; overflow:auto; margin:0 -30px; padding:15px 0;">
      <div style="width:250px; float:right;">
        <h4 style="margin:5px 0;">
          <label style="width:150px; text-align:right; display:inline-block; margin-right:10px; font-size:12.8px; color:#000;"><%= t('.Payment') %> <%= t('.Allocated') %>
            :</label><span style="font-weight:700; font-size:12.8px;"><%= @result[:total_applied_payments] %></span>
        </h4>
      </div>
    </div>
    <div style=" background:#edf2f6; padding:14.5px 30px; overflow:auto; margin:50px -30px 0;">
      <div style="width:33%; float:left;">
        <label style=" font-size:17.25px; font-weight:400;"><%= t('.Registration') %> Name :
          <span style="font-weight:700;"><%= @result[:reg_name] %></span></label>
      </div>
      <div style="width:40%; float:left; text-align:center;">
        <label style=" font-size:17.25px; font-weight:400;"><%= t('.Registration') %> Number :
          <span style="font-weight:700;"><%= @result[:reg_number] %></span></label>
      </div>
      <div style="width:27%; float:left; text-align:right;">
        <label style=" font-size:17.25px; font-weight:400; float:right;"><%= @result[:web_url] %></label><%= wicked_pdf_image_tag 'globe.png', :style => "float:right; margin-right:10px;" %>
      </div>
    </div>
  </div>
</div>
</body>
</html>