<style>
h2{
	font-size: 16px;
	border-bottom: solid 1px #ccc;
	padding-bottom: 5px;
}
.table{
	width: 100%;
}
.table thead tr th{	
	text-align: left;
	padding: 0 10px;
	font-size: 12px;
}
.table tbody tr td{
	text-align: left;
	padding: 0 10px;
	font-size: 12px;
}
thead { display: table-header-group }
tfoot { display: table-row-group }
tr { page-break-inside: avoid }
</style>
<h2><%= t('.Patient Birthday Report') %></h2>
<table class="table" cellspacing="0"  border="1">
	<thead>
		<tr>
			<th><%= t('.Day') %></th>
			<th><%= t('.Name') %></th>
			<th><%= t('.Email Address') %></th>
			<th><%= t('.Phone') %></th>
			<th><%= t('.Address') %></th>
		</tr>
	</thead>
	<tbody>
		
		<% @patients.each do |patient| %>
			<tr>
				<td><%= patient.dob.strftime('%dth') %> </td>
				<td><%= patient.full_name %></td>
				<td><%= patient.email %></td>
				<td><%= patient.patient_contacts.first.try(:contact_no) %></td>
				<td><%= patient.full_address %></td>
			</tr>
		<% end %>
	</tbody>
</table>	
