<!DOCTYPE html>
<html>
<head>
  <title>Opus Time</title>
</head>
<% if (@email_content.nil? || @email_content.blank?) %>
    <body style="padding: 0; margin: 0; font-family: arial;">
    <div style="width: 800px; margin: auto; background: #f5f8f9; border: solid 1px #dce4e6; border-radius: 20px; padding: 25px 25px 25px 50px; box-sizing: border-box;">
      <table style="width: 100%;">
        <tr>
          <td style="vertical-align: top; width: 150px;">
            <label style="color:#9f9f9f; font-size: 14px; text-transform: uppercase; font-weight: 700; letter-spacing: 2px;"><%= t('.Location') %> :</label>
          </td>
          <td style="vertical-align: top;">
            <h5 style="margin: 0; font-size: 15px; color: #313538; text-transform: uppercase; letter-spacing: 2px;"><%= @appnt.business.try(:name) %></h5>
            <p style="color: #848484; font-size: 13px; margin-top: 5px; line-height: 18px; max-width: 230px;"><%= @appnt.business.try(:full_address) %></p>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: top;">
            <label style="color:#9f9f9f; font-size: 14px; text-transform: uppercase; font-weight: 700; letter-spacing: 2px;"><%= t('.Service') %> :</label>
          </td>
          <td style="vertical-align: top;">
            <h5 style="margin: 0; font-size: 15px; color: #313538; text-transform: uppercase; letter-spacing: 2px;"><%= @appnt_type.category.nil? ? "Other" : @appnt_type.category %></h5>
            <h6 style="color: #b93e5b; margin-top: 5px; text-transform: uppercase; font-size: 14px; font-weight: 400; margin-bottom: 0;"><%= @appnt_type.name %></h6>
            <p style="color: #848484; font-size: 13px; margin: 10px 0; line-height: 18px; max-width: 230px;"><img src="<%= attachments['small_watch_black.png'].url %>" alt="" style="margin-bottom: -3px;"> <%= @appnt_type.duration_time %> mints </p>
            <p style="color: #848484; font-size: 13px; margin-top: 5px; line-height: 18px; max-width: 230px; text-align: justify;"><%= @appnt_type.description.nil? ? "": @appnt_type.description %></p>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: top;">
            <label style="color:#9f9f9f; font-size: 14px; text-transform: uppercase; font-weight: 700; letter-spacing: 2px;"><%= t('.practitioner') %> :</label>
          </td>
          <td style="vertical-align: top;">
            <h5 style="margin: 0; font-size: 15px; color: #313538; text-transform: uppercase; letter-spacing: 2px;"><%= @user.full_name_with_title %> </h5>
            <p style="color: #848484; font-size: 13px; margin-top: 5px; line-height: 18px; max-width: 230px;"><%=  @user.practi_info.designation.nil? ? "": @user.practi_info.designation  %></p>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: top;">
            <label style="color:#9f9f9f; font-size: 14px; text-transform: uppercase; font-weight: 700; letter-spacing: 2px;"><%= t('.Time') %> :</label>
          </td>
          <td style="vertical-align: top;">
            <div style="width: 25%; float: left;">
              <h5 style="margin: 0; font-size: 15px; color: #313538; text-transform: uppercas; letter-spacing: 2px;"><%= @appnt.appnt_date.strftime("%d, %b %Y") %> </h5>
              <p style="color: #848484; font-size: 13px; margin-top: 5px; line-height: 18px; max-width: 230px;"><%= @appnt.appnt_time_start.strftime("%H:%M %P") %></p>
            </div>
            <div style="width: 75%; float: left; text-align: right;">
              <a href="<%= @url_cancel %>" style="display: inline-block; padding: 0 15px; line-height: 45px; text-decoration:  none; background: #b93e5b; color: #fff; text-align: center; text-transform: uppercase; border-radius: 5px; font-size: 12px; font-weight: 700; margin-right: 30px"><%= t('.cancel') %> <%= t('.appointment') %></a>
              <a href="<%= @url_reschedule %>" style="display: inline-block; padding: 0 15px; line-height: 45px; text-decoration:  none; background: #b93e5b; color: #fff; text-align: center; text-transform: uppercase; border-radius: 5px; font-size: 12px; font-weight: 700;"><%= t('.reschedule') %> <%= t('.appointment') %></a>
            </div>
          </td>
        </tr>
      </table>
    </div>
    </body>

<% else %>
    <%= @email_content.html_safe %>
    <div style="width: 75%; float: left; text-align: right;">
      <a href="<%= @url_cancel %>" style="display: inline-block; padding: 0 15px; line-height: 45px; text-decoration:  none; background: #b93e5b; color: #fff; text-align: center; text-transform: uppercase; border-radius: 5px; font-size: 12px; font-weight: 700; margin-right: 30px"><%= t('.cancel') %> <%= t('.appointment') %></a>
      <a href="<%= @url_reschedule %>" style="display: inline-block; padding: 0 15px; line-height: 45px; text-decoration:  none; background: #b93e5b; color: #fff; text-align: center; text-transform: uppercase; border-radius: 5px; font-size: 12px; font-weight: 700;"><%= t('.reschedule') %> <%= t('.appointment') %></a>
    </div>
<% end %>

</html>