<header class="header">
  <div class="container contain_custom">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><%= image_tag 'logo.jpg', :style => 'width: 180px !important;' %></a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="/admin/sign_in">Log in</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>

<div class="main-wrap">
  <section>
    <div class="main-heading">
      <h5>Repairs Orders Costomers Calibration Instrument and Tracking</h5>
    </div>
  </section>

  <section class="main-padding">
    <div class="col-lg-12">
      <div class="row form-center">
        <div class="col-lg-offset-4 col-lg-4 form-width">
          <h4 class="login-heading">Sign up</h4>

          <div class="isa_warning hidden" id="warning_notice">
            <i class="fa fa-warning"></i>
            <%= flash.now[:warning] %>
          </div>

          <%= form_for @owner, :url => admin_users_path, :method => :post do |f| %>

              <%= render 'errors', object: f.object %>
              <div class="form-group">
                <%= f.text_field :first_name, :class => "form-control text-box name-bg", :placeholder => "First Name",:value=>get_value_from_cookies('first_name') %>
              </div>
              <div class="form-group">
                <%= f.text_field :last_name, :class => "form-control text-box name-bg", :placeholder => "Last Name",:value=>get_value_from_cookies('last_name') %>
              </div>

              <div class="form-group">
                <%= f.email_field :email, :class => "form-control text-box email-bg", :placeholder => "Email",:value=>get_value_from_cookies('email') %>
              </div>

              <div class="form-group">
                <%= f.password_field :password, :class => "form-control text-box password-bg", :placeholder => "Password" %>
              </div>
              <div class="form-group">
                <%= f.password_field :password_confirmation, :class => "form-control text-box password-bg", :placeholder => "Confirm Password" %>
              </div>

              <div class="form-group">
                <div class="radio_wrap text-left">
                  <%= label :user_typ, 'Admin' %>
                  <%= f.radio_button :user_type, '0' %></div>
                <div class="radio_wrap">
                  <%= label :user_type, 'Sale' %>
                  <%= f.radio_button :user_type, '1' %></div>
                <div class="radio_wrap text-right">
                  <%= label :user_type, 'Marketing' %>
                  <%= f.radio_button :user_type, '2' %>
                </div>
              </div>
              <div class="form-group">
                <%= f.submit 'Register', :class => "form-control register-btn" %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>

<footer>
  <div class="container contain_custom">
    <div class="col-lg-6 footer-copyrt">
      Copyright © 2016 Opustime. All rights reserved.
    </div>
  </div>
</footer>

<script>
    $(document).ready(function () {
        if (<%= flash[:warning].present? %>) {
            $('#warning_notice').removeClass('hidden');
            $('#warning_notice').delay(5000).fadeOut(400);        }
    });
</script>




