<div class="tab-pane" id="tab_10">
  <div class="row">

    <div class="box-header custom_heading">
      <h3 class="box-title">Financial Report</h3>
    </div>
    <div class="col-md-12">
      <table id="example12" class="table table-bordered custom_table">
        <thead>
        <tr>
          <!--<th class="no_sort text-center select_all"></th>-->
          <th>Plan Name</th>
          <th>Date</th>
          <th>Monthly Subscription amt</th>
          <th>Total earning from subscription</th>
          <th>Total earning from SMS</th>
          <th>Total earnings</th>

        </tr>
        </thead>
        <tbody>

        <tr>
          <!--<td class="text-center">-->
            <!--<input type="checkbox" name="" class="minimal">-->
          <!--</td>-->

          <td><%= @comp.subscription.name %></td>
          <td><%= @comp.subscription.purchase_date %></td>
          <td>$ <%= @comp.subscription.cost %></td>
          <td>--</td>
          <td>--</td>
          <td><%= @comp.get_revenue_collection %></td>

        </tr>

        </tbody>
      </table>
    </div>
    <div class="col-md-12">
      <hr>
    </div>
    <!-- <div class="box-header custom_heading">
      <h3 class="box-title">Trail Subscription</h3>
      <button type="button" class="btn btn-primary pull-right btn-sm" data-toggle="modal" data-target="#myModal">Add Trail Period</button>
    </div> -->
    <div class="col-md-12">
      <table id="example13" class="table table-bordered custom_table">
        <thead>
        <tr>
          <th class="no_sort text-center select_all"></th>
          <th>Date</th>
          <th>Time</th>
          <th>Sr No.</th>
          <th>Amount</th>
          <th>Payment type(Sms & Subscription)</th>
          <th>Status</th>
          <th>Business Name</th>
          <th>Details(Plan name SMS/Credit plan)</th>
        </tr>
        </thead>
        <tbody>
        <% @comp.payment_histories.each_with_index do |ph, index| %>
            <tr>
              <td class="text-center">
                <input type="checkbox" name="" class="minimal">
              </td>
              <td><%= ph.created_at.try(:strftime, '%d %B %Y') %></td>
              <td><%= ph.created_at.try(:strftime, '%H:%M:%S') %></td>
              <td><%= "#{index+1} " %></td>
              <td><%= ph.amount %></td>
              <td><%= ph.paymentable_type %></td>
              <td><%= ph.paymentable.try(:status) %></td>
              <td><%= @comp.first_name %></td>
              <td>info</td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="clearfix"></div>
</div>