<div class="tab-pane" id="tab_7">
                          <div class="row">
                            <!-- <div class="col-md-12">
                              <div class="form-group filter-con">
                                <label>Filters</label>
                                <div class="col-md-3">
                                  <select class="form-control">
                                    <option>Appointment Type</option>
                                  </select>
                                </div>
                                <div class="col-md-1">
                                  <button class="btn btn-info">Filter</button>
                                </div>
                                <div class="col-md-2 pull-right text-right">
                                  <button class="btn btn-default">Clear Filter</button>
                                </div>
                              </div>
                            </div> -->
                            <div class="col-md-12">
                              <table id="example8" class="table table-bordered custom_table">
                                <thead>
                                <tr>
                                  <!--<th class="no_sort text-center select_all"></th>-->
                                  <th>Sr No</th>
                                  <th>Customer</th>
                                  <th>Appointment Type</th>
                                  <th>Practitioner Name</th>
                                  <th>Date/Time</th>
                                  <th>Location</th>
                                  <th>Appointment Status</th>
                                  <!-- <th class="no_sort text-center">Actions</th> -->
                                </tr>
                                </thead>
                                <tbody>
                                  <% @comp.appointments.active_appointment.each do |appoint|%>
                                <tr>
                                  <!--<td class="text-center">-->
                                    <!--<input type="checkbox" name="" class="minimal">-->
                                  <!--</td>-->
                                  <td><%= @count_appointment += 1%></td>
                                  
                                  <td><%=  appoint.try(:patient).first_name + " " + appoint.try(:patient).last_name%></td>
                                  <td> <%= appoint.try(:appointment_type).try(:name)%></td>
                                  <td> <%= appoint.try(:user).try(:first_name)%></td>
                                  <td> <%= appoint.try(:date_and_time_without_name)%></td>
                                  <td><%= appoint.try(:business).try(:name)%></td>
                                  <% if appoint.status == true%>
                                    <td>Active</td>
                                  <%else%>
                                    <td>Inative</td>
                                  <%end%>
                                  <!-- <td class="action_btns text-center">
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-default"><i class="fa fa-pencil-square-o"></i></button>
                                      <button type="button" class="btn btn-default"><i class="fa fa-eye"></i></button>
                                      <button type="button" class="btn btn-default"><i class="fa fa-credit-card"></i></button>
                                    </div>
                                  </td> -->
                                </tr>

                                <% end %>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                        </div>