<div class="wrapper">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">	
      <h1>
        Businesses
      </h1>
      <ol class="breadcrumb">
       <i class="fa fa-dashboard"></i>
        <%= render_breadcrumbs :tag => :li %>
        <!-- <li><i class="fa fa-dashboard"></i> Home</li>
        <li class="active">Business</li> -->
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">

          <div class="box box-primary">
            <div class="box-header">
              <h3 class="box-title">Business Detail</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                 <div class="col-md-12">
                    <!-- Custom Tabs -->
                    <div class="nav-tabs-custom">
                      <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a href="#tab_2" data-toggle="tab">Users & Locations</a></li>
                        <li><a href="#tab_3" data-toggle="tab">Customers</a></li>
                        <li><a href="#tab_4" data-toggle="tab">Subscriptions</a></li>
                        <li><a href="#tab_5" data-toggle="tab">Payment and Invoices</a></li>
                        <li><a href="#tab_6" data-toggle="tab">SMS</a></li>
                        <li><a href="#tab_7" data-toggle="tab">Appointments</a></li>
                        <li><a href="#tab_8" data-toggle="tab">Email</a></li>
                        <li><a href="#tab_9" data-toggle="tab">Products and Stocks</a></li>
                        <li><a href="#tab_10" data-toggle="tab">Financial Report & Logs</a></li>
                        <li><a href="#tab_11" data-toggle="tab">Expenses</a></li>
                      </ul>
                      <div class="tab-content">
                        <%= render partial: "first_tab", locals: { :@count_user =>  @count_user , :@count_business => @count_business , :@comp => @comp , :@users => @users } %>
                        <!-- /.tab-pane -->
                        <%= render partial: "second_tab", locals: { :@count_customer => @count_customer , :@comp => @comp } %>
                        <!-- /.tab-pane -->
                        <%= render partial: "third_tab", locals: { :@count_customer => @count_customer , :@comp => @comp } %>
                        <!-- /.tab-pane -->
                        <%= render partial: "fourth_tab", locals: { :@count_customer => @count_customer , :@comp => @comp } %>
                        <!-- /.tab-pane -->
                        <%= render partial: "fifth_tab", locals: { :@count_customer => @count_customer , :@comp => @comp } %>
                        <!-- /.tab-pane -->
                        <%= render partial: "sixth_tab", locals: { :@count_appointment => @count_appointment , :@comp => @comp } %>
                        <!-- /.tab-pane -->
                        <%= render partial: "seventh_tab", locals: { :@comp => @comp } %>
                        <!-- /.tab-pane -->
                        <%= render partial: "eighth_tab", locals: { :@count_product => @count_product , :@comp => @comp } %>
                        <%= render partial: "ninth_tab", locals: { :@count_product => @count_product , :@comp => @comp } %>
                        <%= render partial: "tenth_tab", locals: { :@count_product => @count_product , :@comp => @comp } %>
                        <!-- /.tab-pane -->
                      </div>
                      <!-- /.tab-content -->
                    </div>
                    <!-- nav-tabs-custom -->
                  </div>
                
              </div>
              
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>

  </div>
  <div class="modal fade bs-example-modal-xs" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Add Trial Period</h4>
        </div>
        <form class="form-horizontal">
          <div class="modal-body">
              <div class="form-group">
                <label class="col-md-2 control-label">No of Days</label>
                <div class="col-md-10">
                  <select class="form-control">
                    <option>10 Days</option>
                  </select>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>



<script>
  $(function () {
    $("#example1").DataTable();
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": true,
      "ordering": true,
      "info": true,
      "autoWidth": true
    });
    $("#example3").DataTable();
    $("#example4").DataTable();
    $("#example5").DataTable();
    $("#example6").DataTable();
    $("#example7").DataTable();
    $("#example8").DataTable();
    $("#example9").DataTable();
    $("#example10").DataTable();
    $("#example11").DataTable();
    
    $("#example13").DataTable();
    $("#example14").DataTable();
    //iCheck for checkbox and radio inputs
    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
      checkboxClass: 'icheckbox_minimal-blue',
      radioClass: 'iradio_minimal-blue'
    });
  });
/*$(function () {
$('#example3').DataTable({
          "sPaginationType": "full_numbers"
          "bJQueryUI": true
          "bProcessing": true
          "bServerSide": true
          "sAjaxSource": $('#example3').data('source')
        });
});*/

$('#myTab a').click(function(e) {
  e.preventDefault();
  $(this).tab('show');
});

  $('.attemp').click(function(e) {
      e.preventDefault();
      user_id = this.id.split('_')[1];
      $.ajax({
          url: '/business/'+user_id + '/clear_attempt' ,
          method: "GET",
          dataType: "script"
      });
  });

// store the currently selected tab in the hash value
$("ul.nav-tabs > li > a").on("shown.bs.tab", function(e) {
  var id = $(e.target).attr("href").substr(1);
  window.location.hash = id;
});

// on load of the page: switch to the currently selected tab
var hash = window.location.hash;
$('#myTab a[href="' + hash + '"]').tab('show');

$("#target").val($("#target option:first").val());

  
</script>