 <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <%= image_tag("user2-160x160.jpg", class: "img-circle") %>
        </div>
        <div class="pull-left info">
          <p><%= owner %></p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li>
          <%= link_to admin_panel_view_path, class: "treeview active"  do%> 
            <i class="fa fa-dashboard "></i> 
            <span>Dashboard</span>
            <% end %>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Business Reports</span>
          </a>
          <ul class="treeview-menu">
            <li><%= link_to list_business_list_path do %>
                   <i class="fa fa-circle-o"></i>
                    <span>Business List Report</span>
            <% end %></li>
            
            <li><%= link_to list_business_customer_path do %>
                   <i class="fa fa-circle-o"></i>
                    <span>Business Customer Report</span>
            <% end %></li>
            <li><%= link_to earn_business_earning_path do %>
                   <i class="fa fa-circle-o"></i>
                    <span>Top Earning Business</span>
            <% end %></li>
            
            <li><%= link_to earn_business_location_path do %>
                   <i class="fa fa-circle-o"></i>
                    <span>Top Earning Location</span>
            <% end %></li>
            <li><%= link_to earn_business_financial_path do %>
                   <i class="fa fa-circle-o"></i>
                    <span>Business Financial Report</span>
            <% end %></li>
           
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-credit-card" aria-hidden="true"></i>
            <span>Financial Report</span>
          </a>
          <ul class="treeview-menu">
            <li><%= link_to list_financial_list_path do %>
                   <i class="fa fa-circle-o"></i>
                    <span>Business List Report</span>
            <% end %></li>
            
            <li><%= link_to earn_financial_earn_path do %>
                   <i class="fa fa-circle-o"></i>
                    <span>Top Earning Business</span>
            <% end %></li>
          </ul>
        </li>
        <li class="treeview">
         <li>	
          <%= link_to list_trial_user_path, class: "treeview"  do%> 
            <i class="fa fa-clock-o" aria-hidden="true"></i> 
            <span>Trial User</span>
          <% end %>
          </li> 
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-bell-o" aria-hidden="true"></i>
            <span>Notification</span>
          </a>
          <ul class="treeview-menu">
            <li><%= link_to notification_business_path do %>
                   <i class="fa fa-circle-o"></i>
                    <span>Business Notification</span>
            <% end %></li>
            <li><%= link_to notification_user_path do %>
                   <i class="fa fa-circle-o"></i>
                    <span>User Notification</span>
            <% end %></li>
            <li><%= link_to notification_email_path do %>
                   <i class="fa fa-circle-o"></i>
                    <span>Email Notification</span>
            <% end %></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-industry" aria-hidden="true"></i>
            <span>Subscription</span>
          </a>
          <ul class="treeview-menu">
            	<li><%= link_to admin_subscription_index_path do %>
                   <i class="fa fa-circle-o"></i>
                    <span>Subscription Package</span>
            <% end %></li>
            
            <li><%= link_to new_admin_subscription_path do %>
                   <i class="fa fa-circle-o"></i>
                    <span>Add Subscription Package</span>
            <% end %></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-comments-o" aria-hidden="true"></i>
            <span>SMS</span>
          </a>
          <ul class="treeview-menu">
            <li><%= link_to admin_sms_path do %>
                   <i class="fa fa-circle-o"></i>
                    <span>SMS Package</span>
            <% end %></li>
            
            <li><%= link_to sms_consumption_path do %>
                   <i class="fa fa-circle-o"></i>
                    <span>SMS Consumption</span>
            <% end %></li>
          </ul>
        </li>
                <li class="treeview">
          <a href="#">
            <i class="fa fa-eraser" aria-hidden="true"></i>
            <span>Others</span>
          </a>
          <ul class="treeview-menu">
            <li><%= link_to others_request_path do %>
                   <i class="fa fa-circle-o"></i>
                    <span>Import Delete Request</span>
            <% end %></li>
            <li><%= link_to others_business_subscription_path do %>
                   <i class="fa fa-circle-o"></i>
                    <span>Business Subscription</span>
            <% end %></li>
            <li><%= link_to others_business_payments_path do %>
                   <i class="fa fa-circle-o"></i>
                    <span>Business Payments</span>
            <% end %></li>
          </ul>
        </li>
        <li class="treeview active">
          <li class="active"><%= link_to admin_permission_path do %>
                   <i class="fa fa-key" aria-hidden="true"></i>
                    <span>Permission</span>
           <% end %></li>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
