<style>
    h2{
        font-size: 16px;
        border-bottom: solid 1px #ccc;
        padding-bottom: 5px;
    }
    .table{
        width: 100%;
    }
    .table thead tr th{
        text-align: left;
        padding: 0 10px;
        font-size: 12px;
    }
    .table tbody tr td{
        text-align: left;
        padding: 0 10px;
        font-size: 12px;
    }
    thead { display: table-header-group }
    tfoot { display: table-row-group }
    tr { page-break-inside: avoid }
</style>
<h2><%= t('.Daily Report') %></h2>
<table class="table" cellspacing="0" border="1">
  <thead>
  <tr>
    <th><%= t('.Payment') %></th>
    <th><%= t('.DATE/TIME') %></th>
    <th><%= t('.Patient') %></th>
    <th><%= t('.Source') %>(s)</th>
    <th>Total($)</th>
  </tr>
  </thead>
  <tbody>
  <% @result.each do |payment| %>
      <tr>
        <td><%= payment[:payent_id] %> </td>
        <td><%= payment[:datetime] %></td>
        <td><%= payment[:patient] %></td>
        <td><%= payment[:sources].join(',') %></td>
        <td><%= '%.2f'% payment[:total].round(2).to_f %></td>
      </tr>
  <% end %>

  </tbody>
</table>