<!DOCTYPE html>
<html>
<head>
  <!-- <title ng-bind="$state.current.data.pageTitle | translate"></title> -->
  <title>OpusTime</title>

  <%= stylesheet_link_tag 'application_v3', media: 'all' %>
  <%= javascript_include_tag 'application_v3' %>
  <base href="/">
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" href="/assets/favicon-32x32.png">
</head>


<body class="hold-transition skin-blue sidebar-mini" ng-controller="MainCntl" ng-class="{'NotLoggedIn' : !isLoggedIn}">
<header class="top-header ng-hide no-animate" ng-include="'templates/common/header.html'" ng-show="isLoggedIn"></header>
<header class="navbar-twitch ng-hide no-animate" ng-include="'templates/common/alide.html'" ng-show="isLoggedIn"></header>
<div class=" container-fluid main-content" ng-class="{'Login' : !isLoggedIn}">
  <div class="row">
    <div ui-view="" id="ng-view" class="slide-animation no-animate">
      <div class="wrapper">
        <% if controller_name.to_s.eql?('business_report') %>
            <%= render partial: 'admin/shared/admin_header' , :locals => {:active => "current_class?(list_business_list_path"} %>
      <% else %>
            <%= render partial: 'admin/shared/admin_header' %>
      <% end %>
        <!-- Left side column. contains the logo and sidebar -->
        <%= render partial: 'admin/shared/main_sidebar_nav' %>
        <%= yield %>
        <%= render partial: 'admin/shared/admin_footer' %>
        <!-- Control Sidebar -->
        <%= render partial: 'admin/shared/admin_right_sidebar' %>
      </div>
    </div>
  </div>
</div>
<!-- Start of LiveChat (www.livechatinc.com) code -->
<script type="text/javascript">
window.__lc = window.__lc || {};
window.__lc.license = 8496773;
(function() {
  var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
  lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
})();
</script>
<!-- End of LiveChat code -->
</body>

</html>
