<!DOCTYPE html>
<html ng-app="Zuluapp">
<head>
  <!-- <title ng-bind="$state.current.data.pageTitle | translate"></title> -->
  <title>OpusTime</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <% if Rails.env.production? %>
      <%= javascript_include_tag 'application', "http://#{PUMA_SERVER}/faye.js" %>
  <% else %>
      <%= javascript_include_tag 'application' %>
  <% end %>

  <base href="/">
  <%= csrf_meta_tags %>
  <link href="//fonts.googleapis.com/css?family=Quicksand:400,700,300" rel="stylesheet"/>
  <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"/>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,700,700italic,600italic" rel="stylesheet"/>
  <link rel="icon" type="image/png" href="/assets/favicon-32x32.png">
</head>
<body ng-controller="MainCntl" class="{{themeClass}}" ng-class="{'NotLoggedIn' : !isLoggedIn, '{{themeClass}}' : true}">
<header class="top-header ng-hide no-animate" ng-show="isLoggedIn"><%= render :template => 'header_template/header' %></header>
<header class="navbar-twitch ng-hide no-animate" ng-include="'templates/common/alide.html'" ng-show="isLoggedIn"></header>
<div class="loading" ng-show="cloading"> 
  <div class="sidebar-load-bar animated slideInDown">
    <div class="sidebar-bar"></div>
    <div class="sidebar-bar"></div>
    <div class="sidebar-bar"></div>
  </div>
</div>
<helpbar></helpbar>
<div class=" container-fluid main-content" ng-class="{'Login' : !isLoggedIn}">
  <div class="row">
    <div ui-view="" id="ng-view" class="slide-animation no-animate">
      <%= yield %>
    </div>
  </div>
</div>
<script>
   /* var _elev = window._elev || {};
    (function () {
        var i, e;
        i = document.createElement("script"), i.type = 'text/javascript';
        i.async = 1, i.src = "https://static.elev.io/js/v3.js", e = document.getElementsByTagName("script")[0], e.parentNode.insertBefore(i, e);
    })();
    _elev.account_id = '57bcf30f62932';*/
</script>
<script>
  /*  _elev.user = {
        first_name: '<%= current_user.present? ? current_user.first_name : "Anonymous" %>',
        last_name: '<%= current_user.present? ? (current_user.last_name) : "" %>',
        email: '<%= current_user.present? ? (current_user.email) : "" %>',
        phone_number: '<%= current_user.present? ? (current_user.phone) : "" %>',
        user_hash: '<%= OpenSSL::HMAC.hexdigest("sha256", CONFIG[:elev_api_key] , (current_user.present? ? current_user.try(:email) : "")) %>',
        groups: '<%= current_user.present? ? (current_user.try(:company).try(:subscription).try(:name)) : "Trial" %>',
        traits: {
            Plan: '<%= current_user.present? ? (current_user.try(:company).try(:subscription).try(:name)) : "Trial" %>',
            rate: '<%= current_user.present? ? (current_user.try(:company).try(:subscription).try(:cost)) : 0  %>',
            user_type: '<%= current_user.present? ? (current_user.role) : "Anonymous" %>'

        }
    };*/
</script>
<!-- Start of LiveChat (www.livechatinc.com) code -->
<script type="text/javascript">
window.__lc = window.__lc || {};
window.__lc.license = 8496773;
(function() {
  var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
  lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
})();
</script>
<!-- End of LiveChat code -->
<script>
    $(document).ready(function () {
        <% if Rails.env.production? %>
        var web_push = new Faye.Client("/faye");

        // Subscribe user on Private channel to clear all notifications count
        web_push.subscribe("/messages/clear_count/<%= session[:user_id] %>", function () {
            $('.badge')[0].innerHTML = '';
        });


        // Subscribe user on Private channel to get push notifications
        web_push.subscribe("/messages/private/<%= session[:user_id] %>", function (data) {
            $("#notification_bell").addClass("vibrate").delay(500).queue(function (next) {
                $(this).removeClass("vibrate");
                next();
            });
            document.getElementById('notification_tune').play();
            $('.badge')[0].innerHTML = data.count;
        });
        <%end%>

    });

</script>
</body>
</html>
